# Environment variables example for Ocean Enterprise marketplace application

#OE NODES
#DEFAULT OE NODE USED BY THE MARKETPLACE
NEXT_PUBLIC_PROVIDER_URL=https://node.demo.pontus-x.eu
#OE NODE WHOSE METADATA CACHE IS USED BY THE MARKETPLACE TO READ ASSETS 
NEXT_PUBLIC_METADATACACHE_URI=https://<your-oe-node-url>/
#LIST OF OE NODES WHOSE ASSETS WILL BE LISTED IN THE CATALOGUE AND THAT CAN BE USED TO ENCRYPT NEW ASSET DESCRIPTIONS AT PUBLISHING TIME
NEXT_PUBLIC_NODE_URI_INDEXED=["https://node.demo.pontus-x.eu"]

#BLOCKCHAIN RPC - e.g., Eth Sepolia blockchain
NEXT_PUBLIC_NODE_URI_MAP={"11155111":"https://sepolia.infura.io/v3/2457744da74a42e184df9fde841bce36", "11155420":"https://optimism-sepolia.infura.io/v3/2457744da74a42e184df9fde841bce36"}

#IPFS
NEXT_PUBLIC_IPFS_GATEWAY=https://fuchsia-characteristic-haddock-378.mypinata.cloud
NEXT_PUBLIC_IPFS_UPLOAD_URL=https://api.pinata.cloud/pinning/pinJSONToIPFS
NEXT_PUBLIC_IPFS_DELETE_URL=https://api.pinata.cloud/pinning/unpin
IPFS_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlMTY1MzdiMy0zODhmLTQ1MDgtOWQ5ZC1kMzFmZmNlM2RhMjIiLCJlbWFpbCI6ImFsZXhAZGVsdGEtZGFvLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIzNjIwYzJjYTAxM2JjODhmYWY4MiIsInNjb3BlZEtleVNlY3JldCI6ImI5NDA1ZTg5ZjU1YTliNDkwMTYyN2U2OTk4ZjczOGVkMTVhMzdmOWI5NjQyN2Y4ODY1M2FkNDYyMzA5MmQ0ZjIiLCJleHAiOjE4MDIzNDQ5MTR9.6JSavqiXdBbiKcB14uNjZrppMRPADbccdlkNPNISmg0
NEXT_PUBLIC_IPFS_UNPIN_FILES=true

#CURRENCIES AND MARKET FEES
#TOKENS - e.g., EURC on Eth Sepolia
NEXT_PUBLIC_ALLOWED_ERC20_ADDRESSES={"11155111":["0x08210F9170F89Ab7658F0B5E3fF39b0E03C594D4"]}
#FIXED FEE - e.g., 1 EURC fixed fee for Eth Sepolia
#NEXT_PUBLIC_CONSUME_MARKET_ORDER_FEE_MAP={"11155111":[{"token": "0x08210F9170F89Ab7658F0B5E3fF39b0E03C594D4", "amount": "1000000"}]}
#PERCENTAGE FEE - e.g., 10% percentage fee
#NEXT_PUBLIC_CONSUME_MARKET_FEE=0.1
#WALLET WHERE FEE IS COLLECTED
#NEXT_PUBLIC_MARKET_FEE_ADDRESS=<your-marketplace-wallet-address>

#SSI - used only if SSI is enabled
#NEXT_PUBLIC_SSI_ENABLED=true
#POLICY SERVER
#NEXT_PUBLIC_SSI_POLICY_SERVER=https://<your-policy-server-url>
#DEFAULT SSI WALLET
NEXT_PUBLIC_SSI_WALLET_API=https://wallet.delta-dao.com
#OPA SERVER
#NEXT_PUBLIC_OPA_SERVER_URL=http://<your-opa-server>
#DEFAULT STATIC POLICIES APPLIED TO ALL VERIFIABLE CREDENTIALS
NEXT_PUBLIC_SSI_DEFAULT_POLICIES_URL=https://raw.githubusercontent.com/OceanProtocolEnterprise/policy-server/refs/heads/main/default-verification-policies

#DATASPACE NAME USED TO FILTER ASSETS 
#NEXT_PUBLIC_DATASPACE=

#OTHERS
#ENCRYPT ASSET DESCRIPTION AT PUBLISHING TIME
NEXT_PUBLIC_ENCRYPT_ASSET=true
#HIDE ONBOARDING AT INITIAL ACCESS TIME 
NEXT_PUBLIC_HIDE_ONBOARDING_MODULE_BY_DEFAULT=false
#SSI WALLET UI USED IN THE ONBOARDING MODULE
#NEXT_PUBLIC_SSI_UI_URL=https://<your-wallet-ui-url>
